{% extends "base.html" %}

{% load static %}

<!-- Loads wagtail template tags -->
{% load wagtailcore_tags %}

<!-- Loads template tags in 'quizzes/templatetags/quiz_categories.py' --->
{% load quiz_categories %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <div class="col-md-3 bg-primary p-5 text-white">
            <!-- Displays last quiz visited -->
            {% if latest_quiz_visited_info %}
                <h5><strong>Recently visited:</strong></h5>
                <p>
                    <a class="text-white" href="{{ latest_quiz_visited_info.url }}">
                        <small>{{ latest_quiz_visited_info.title }}</small>
                    </a>
                </p>
            {% endif %}
            <!-- Display categories -->
            {% get_categories_sidebar %}
        </div>

        <div class="col-md-9">
            <div class="section container">
        
                <div class="section-title">
                    <h5>QUIZ CATEGORY:</h5>
                    <h2>{{ quizcategory.name }}</h2>
                </div>

                <div class="row">
                    {% for quiz in quizcategory.quizpage_set.all %}
                    <div class="col-md-6 col-lg-4 mb-3">
                        <div class="question-box text-center">
                            <h5>
                                <a href="{% pageurl quiz %}">{{ quiz.title }}</a>
                            </h5>
                            <p><small>{{ quiz.specific.intro }}</small></p>
                        </div>
                    </div>
                    {% endfor %}
                </div><!-- End row-->

            </div><!-- End section container-->

        </div>
    </div><!-- End row -->
</div><!-- End container-fluid-->


{% endblock %}