{% extends "base.html" %}

{% load static %}

<!-- Loads wagtail template tags -->
{% load wagtailcore_tags %}

<!-- Loads template tags in 'quizzes/templatetags/quiz_categories.py' --->
{% load quiz_categories %}

{% block content %}

<h2>{{ most_recent_quiz_info.title }}</h2>
<h2>{{ most_recent_quiz_info.url }}</h2>

<div class="container-fluid">
    <div class="row">
        {% get_questions_sidebar %}
        <div class="col-md-9">
            {% get_all_categories %}
        </div>
    </div><!-- End row -->
</div><!-- End container-fluid-->



{% endblock %}