{% extends "base.html" %}

{% load static %}

<!-- Loads wagtail template tags -->
{% load wagtailcore_tags %}

<!-- Loads template tags in 'quizzes/templatetags/quiz_categories.py' --->
{% load quiz_categories %}

{% block content %}

<div class="container-fluid">
    <div class="row">

    	<!-- Sidebar -->
    	<div class="col-md-3 bg-primary p-5">
    		<!-- Displays last quiz visited -->
    		{% if latest_quiz_visited_info %}
				<h5 class="text-white"><strong>Recently visited:</strong></h5>
				<p>
					<a href="{{ latest_quiz_visited_info.url }}">
					    <small>{{ latest_quiz_visited_info.title }}</small>
					</a>
				</p>
			{% endif %}
			<!-- Displays all quizzes -->
            {% get_quizzes_sidebar %}
        </div>

        <div class="col-md-9">
            {% get_all_categories %}
        </div>

    </div><!-- End row -->
</div><!-- End container-fluid-->



{% endblock %}