{% extends "base.html" %}

{% load static %}

<!-- Loads wagtail template tags -->
{% load wagtailcore_tags %}

<!-- Loads template tags in 'quizzes/templatetags/quiz_categories.py' --->
{% load quiz_categories %}

{% block content %}

<p>{{ request.session.most_recent_quiz_title }}</p>

<div class="container-fluid">
    <div class="row">
        {% get_questions_sidebar %}
        <div class="col-md-9">
            {% get_all_categories %}
        </div>
    </div><!-- End row -->
</div><!-- End container-fluid-->



{% endblock %}