{% load static %}

<!-- Loads wagtail template tags -->
{% load wagtailcore_tags %}

<!-- Loads template tags in 'quizzes/templatetags/quiz_categories.py' --->
{% load quiz_categories %}

<h1>Quiz Index</h1>

{{ page.intro|richtext }}

{% for quiz in quiz_pages %}
<a href="{% pageurl quiz %}">
  <p class="text-primary"><strong>{{ quiz.title }}</strong></p>
</a>
{% endfor %}

<h2>Browse categories instead..</h2>
<!-- This tag is a function found in 'quizzes/templatetags/quiz_categories.py' -->
{% get_all_categories %}
