{% extends 'base.html' %}

{% load static %}

<!-- Loads wagtail template tags -->
{% load wagtailcore_tags %}

<!-- Loads template tags in 'quizzes/templatetags/quiz_categories.py' --->
{% load quiz_categories %}

{% block content %}

<div class="container-fluid">
    <div class="row">
    	<!-- Gets the sidebar displaying categores--->
        {% get_categories_sidebar %}

        <div class="col-md-9 px-4">
        	<div class="section container">
                <div class="section-title">
				    <h2>Quiz Index</h2>
				    {{ page.intro|richtext }}
			    </div>
			    {% for quiz in quiz_pages %}
			    <div class="row text-center p-4 border border-light mb-4">
		            <div class="col-md-4">
			            <h5>
				            <a href="{% pageurl quiz %}">{{ quiz.title }}</a>
				        </h5>
			        </div>
			        <div class="col-md-8">
                        <p><small>{{ quiz.specific.intro }}</small></p>
			        </div>
	            </div><!-- End row-->
	            {% endfor %}
        	</div><!-- End section container -->
        </div><!-- End col-md-9 -->

    </div><!-- End row -->
</div><!-- End container fluid-->

{% endblock %}
