{% extends "base.html" %}

{% load static %}

<!-- Loads wagtail template tags -->
{% load wagtailcore_tags %}

<!-- Loads template tags in 'quizzes/templatetags/quiz_categories.py' --->
{% load quiz_categories %}


{% block content %}

<!-- Displays 'tags/get_latest_quizzes.html' -->
<div class="homepage-container-fluid container-fluid">
    {% get_latest_quizzes %}
</div>

<!-- Call to action to visit Quiz Index Page -->
<div class="container-fluid bg-primary">
	<div class="section container">
        <div class="text-center text-white">
            <span class="h2 text-white pr-4">
                <strong>Browse all quizzes on our Quiz Index Page</strong>
            </span>
            <a href="{% slugurl 'quiz-index-page' %}">
                <button class="btn btn-light">Browse all quizzes!</button>
            </a>
        </div>
    </div>
</div>

<!-- Display 'tags/get_all_categories.html' -->
<div class="homepage-section">
    {% get_all_categories %}
</div>

{% endblock content %}
