#quiz-answers{
	display: none;
}

/****** NAV MAIN MENU ******/
.nav-link{
    font-weight: bold;
}

.navbar-brand{
    font-weight: bold;
}

.nav-brand:hover {
    color: grey;
}

/***** SECTION *****/
.section {
	padding: 60px 0;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

/******* SECTION OUTER *******/
.homepage-container-fluid {
	border-bottom: 1px solid lightgrey;
}

/********** QUESTIONS ************/
.questions {
	padding-bottom: 12px;
}





