#quiz-answers{
	display: none;
}

/***** SECTION *****/
.section {
	padding: 60px 0;
    border-bottom: 1px solid lightgrey;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}



